<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.bdqn.mapper.SupplierMapper">

	<select id="querySupplier" resultType="Supplier"
		parameterType="map">
		select * from supplier
		<trim prefix="where" prefixOverrides="and | or">
			<if test="sName!=null and sName!=''">
				and sName like CONCAT('%',#{sName},'%')
			</if>
		</trim>
		limit #{start},#{end}
	</select>

	<select id="queryCount" resultType="int" parameterType="map">
		select count(1) from supplier
		<trim prefix="where" prefixOverrides="and | or">
			<if test="sName!=null and sName!=''">
				and sName like CONCAT('%',#{sName},'%')
			</if>
		</trim>
	</select>

	<select id="getSupplierById" resultType="Supplier">
		select * from supplier
		where supplierId=#{supplierId}
	</select>


	<update id="updateSupplier" parameterType="Supplier">
		update supplier set
		sName=#{sName},sContacts=#{sContacts},
		sPhone=#{sPhone},sEmail=#{sEmail},sAddress=#{sAddress},
		sDate=#{sDate},sStatus=#{sStatus},comments=#{comments}
		where
		supplierId=#{supplierId}
	</update>

	<delete id="deleteSupplier">
		delete from supplier where
		supplierId=#{supplierId}
	</delete>


	<insert id="addSupplier" parameterType="Supplier">
		insert into supplier
		(supplierId,sName,sContacts,sPhone,sEmail,
		sAddress,sDate,sStatus,comments)
		values(#{supplierId},#{sName},#{sContacts},
		#{sPhone},#{sEmail},#{sAddress},#{sDate},
		#{sStatus},#{comments})
	</insert>
	
	<select id="querySuppliers" resultType="Supplier">
		select * from supplier
	</select>
</mapper>