<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.bdqn.mapper.UserMapper">
	<select id="queryUser" resultType="User">
		select * from user where
		uname=#{uname}
	</select>
	<select id="queryRole" resultType="String">
		select flag from role where id
		in
		(select rid from user_role where uid in
		(select id from user where
		uname=#{uname}))
	</select>
	<select id="querypermission" resultType="String">
		select flag from
		permission where id in
		(select pid from role_permission where rid in
		(select rid from user_role where uid in
		(select id from user where
		uname=#{uname})))
	</select>
	<select id="queryAllRoleAndPermissions" resultType="Permission"
		parameterType="String">
		SELECT
		p.flag,p.grade,p.icon,p.id,p.permission,p.pid,p.url from role r LEFT
		JOIN role_permission rp on
		r.id=rp.rid
		LEFT JOIN permission p on
		p.id=rp.pid
		LEFT JOIN user_role ur on r.id=ur.rid
		LEFT JOIN user u ON
		u.id=ur.uid
		WHERE u.uname=#{uname}
	</select>
	<select id="queryAllUser" parameterType="java.util.Map"
		resultType="User">
		select * from user
		<trim prefix="where" prefixOverrides="and | or">
			<if test="uname!=null and uname!=''">
				and uname like CONCAT('%',#{uname},'%')
			</if>
			<if test="state!=null and state!=''">
				and state=#{state}
			</if>
			<if test="id!=null and id!=''">
				and id !=#{id}
			</if>
		</trim>
		limit #{start},#{end}
	</select>
	<select id="queryCount" parameterType="java.util.Map"
		resultType="int">
		select count(id) from user
		<trim prefix="where" prefixOverrides="and | or">
			<if test="uname!=null and uname!=''">
				and uname like CONCAT('%',#{uname},'%')
			</if>
			<if test="state!=null and state!=''">
				and state=#{state}
			</if>
			<if test="id!=null and id!=''">
				and id !=#{id}
			</if>
		</trim>
	</select>
	<update id="updateUserStateById" parameterType="int">
		update user set
		state=#{state} where id=#{id}
	</update>
	<delete id="deleteAllRoleById" parameterType="int">
		delete from
		user_role where uid=${id}
	</delete>
	<insert id="addRoleById" parameterType="int">
		insert into user_role
		(uid,rid) VALUES(#{id},#{rid})
	</insert>
</mapper>